@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    TempData["Title"] = "Co-ordinator Dashboard";
}

<div class="container-fluid container-lg">
    <h1 class="text-primary">Dashboard - Co-ordinators</h1>
    <div class="mr-4 mr-4">
        <h5 class="text-center">Trainees Data will list out here...</h5>
    </div>
</div>
