@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    TempData["Title"] = "Access Denied";
}

<div class="text-center">
    <h1>Access Denied, buddy!</h1>
    <p>Go Back to, ...</p>
    <a class="btn btn-warning rounded-1 px-2 py-1 my-3">Home Page</a>
</div>